In [98]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [99]:
df=pd.read_csv('../Deeplearning/Datasets/onlinefraud.csv')

In [100]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [101]:
df.drop(['nameOrig','nameDest'],axis=1,inplace=True)

In [102]:
df=df.rename(columns={'type':'Type'})

In [103]:
df

,step,Type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1,0
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [104]:
from sklearn.preprocessing import LabelEncoder
lbl_encode=LabelEncoder()
df['Type']=lbl_encode.fit_transform(df['Type'])

In [105]:
df

,step,Type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,3,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,4,181.00,181.00,0.00,0.00,0.00,1,0
3,1,1,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,3,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,4,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,1,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,4,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,1,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [106]:
X=df.drop('isFraud',axis=1)
Y=df['isFraud']

In [107]:
X

,step,Type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,1,3,9839.64,170136.00,160296.36,0.00,0.00,0
1,1,3,1864.28,21249.00,19384.72,0.00,0.00,0
2,1,4,181.00,181.00,0.00,0.00,0.00,0
3,1,1,181.00,181.00,0.00,21182.00,0.00,0
4,1,3,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,0.00,339682.13,0
6362616,743,4,6311409.28,6311409.28,0.00,0.00,0.00,0
6362617,743,1,6311409.28,6311409.28,0.00,68488.84,6379898.11,0
6362618,743,4,850002.52,850002.52,0.00,0.00,0.00,0
6362619,743,1,850002.52,850002.52,0.00,6510099.11,7360101.63,0

In [108]:
Y

0          0
1          0
2          1
3          1
4          0
          ..
6362615    1
6362616    1
6362617    1
6362618    1
6362619    1
Name: isFraud, Length: 6362620, dtype: int64

In [109]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=2)

In [110]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [111]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import LeakyReLU,PReLU,ReLU

In [112]:
classfier=Sequential()

In [113]:
#input layer creation
classfier.add(Dense(units=9,activation='relu'))

In [114]:
#hidden layer creation
classfier.add(Dense(units=5,activation='relu'))
classfier.add(Dropout(0.2))

In [115]:
#hiiden layer 2
classfier.add(Dense(units=3,activation='relu'))
classfier.add(Dropout(0.3))

In [116]:
#output layer 
classfier.add(Dense(1,activation='sigmoid'))

In [117]:
classfier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [118]:
import tensorflow 
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [119]:
import tensorflow as tf
early_stops=tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    min_delta=0.02,
    patience=30,
    verbose=1,
    mode='auto',
    baseline=None,
    restore_best_weights=False
)

In [120]:
model_hst=classfier.fit(X_train,Y_train,validation_split=0.33,batch_size=1000,epochs=500,callbacks=early_stops)

Epoch 1/500
2857/2857 [==============================] - 20s 6ms/step - loss: 0.0652 - accuracy: 0.9971 - val_loss: 0.0082 - val_accuracy: 0.9987
Epoch 2/500
2857/2857 [==============================] - 13s 5ms/step - loss: 0.0172 - accuracy: 0.9987 - val_loss: 0.0067 - val_accuracy: 0.9987
Epoch 3/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0105 - accuracy: 0.9987 - val_loss: 0.0061 - val_accuracy: 0.9987
Epoch 4/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0080 - accuracy: 0.9987 - val_loss: 0.0061 - val_accuracy: 0.9987
Epoch 5/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0075 - accuracy: 0.9987 - val_loss: 0.0061 - val_accuracy: 0.9987
Epoch 6/500
2857/2857 [==============================] - 19s 7ms/step - loss: 0.0073 - accuracy: 0.9987 - val_loss: 0.0059 - val_accuracy: 0.9987
Epoch 7/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0072 - accuracy: 0.9987 - val_loss: 0.0058 - val_accuracy: 0.9987
Epoch 8/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0072 - accuracy: 0.9987 - val_loss: 0.0059 - val_accuracy: 0.9987
Epoch 9/500
2857/2857 [==============================] - 16s 6ms/step - loss: 0.0071 - accuracy: 0.9987 - val_loss: 0.0057 - val_accuracy: 0.9987
Epoch 10/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0070 - accuracy: 0.9987 - val_loss: 0.0057 - val_accuracy: 0.9987
Epoch 11/500
2857/2857 [==============================] - 13s 5ms/step - loss: 0.0070 - accuracy: 0.9987 - val_loss: 0.0057 - val_accuracy: 0.9987
Epoch 12/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0070 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 13/500
2857/2857 [==============================] - 16s 5ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0057 - val_accuracy: 0.9987
Epoch 14/500
2857/2857 [==============================] - 16s 6ms/step - loss: 0.0070 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 15/500
2857/2857 [==============================] - 13s 5ms/step - loss: 0.0070 - accuracy: 0.9987 - val_loss: 0.0055 - val_accuracy: 0.9987
Epoch 16/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0055 - val_accuracy: 0.9987
Epoch 17/500
2857/2857 [==============================] - 12s 4ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 18/500
2857/2857 [==============================] - 12s 4ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 19/500
2857/2857 [==============================] - 12s 4ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 20/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 21/500
2857/2857 [==============================] - 16s 6ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0054 - val_accuracy: 0.9987
Epoch 22/500
2857/2857 [==============================] - 16s 5ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0055 - val_accuracy: 0.9987
Epoch 23/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0056 - val_accuracy: 0.9987
Epoch 24/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0054 - val_accuracy: 0.9987
Epoch 25/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0054 - val_accuracy: 0.9987
Epoch 26/500
2857/2857 [==============================] - 13s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0054 - val_accuracy: 0.9987
Epoch 27/500
2857/2857 [==============================] - 16s 5ms/step - loss: 0.0069 - accuracy: 0.9987 - val_loss: 0.0055 - val_accuracy: 0.9987
Epoch 28/500
2857/2857 [==============================] - 14s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0054 - val_accuracy: 0.9987
Epoch 29/500
2857/2857 [==============================] - 16s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0055 - val_accuracy: 0.9987
Epoch 30/500
2857/2857 [==============================] - 15s 5ms/step - loss: 0.0068 - accuracy: 0.9987 - val_loss: 0.0055 - val_accuracy: 0.9987
Epoch 31/500
2857/2857 [==============================] - 17s 6ms/step - loss: 0.0067 - accuracy: 0.9987 - val_loss: 0.0053 - val_accuracy: 0.9987
Epoch 31: early stopping

In [121]:
model_hst.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [122]:
y_pred=classfier.predict(X_test)
y_pred=(y_pred>=0.5)

65615/65615 [==============================] - 147s 2ms/step

In [123]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)

In [124]:
cm

array([[2096990,       0],
       [   2675,       0]], dtype=int64)

In [125]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(Y_test,y_pred)

In [126]:
ac

0.9987259872408217

In [128]:
classfier.get_weights()

[array([[ 2.60418475e-01,  9.76326093e-02, -9.75021347e-03,
         -3.08811199e-02, -7.76430592e-02, -2.66732365e-01,
          2.87987338e-03, -6.87901909e-03,  7.38353847e-05],
        [ 1.35585085e-01, -5.42520620e-02,  1.01959057e-01,
         -7.25407898e-01, -5.58900274e-02, -2.06735879e-01,
          5.17496943e-01, -5.27254701e-01, -1.06098596e-03],
        [ 9.06445444e-01,  2.58881360e-01, -2.18286586e+00,
          2.57741045e-02, -7.16725051e-01, -3.20473731e-01,
         -1.68274902e-02, -9.28391933e-01,  4.66105193e-01],
        [ 1.31834602e+00, -1.17341745e+00,  5.58460176e-01,
         -8.50797236e-01,  6.72787547e-01,  4.70060080e-01,
         -5.15499592e-01, -2.70681232e-01, -2.34953976e+00],
        [-7.01960564e-01,  1.09184313e+00,  1.32600164e+00,
          9.57615137e-01,  1.27899873e+00, -1.88308388e-01,
          1.26682997e+00,  1.39680588e+00,  1.08380330e+00],
        [-5.17445244e-02, -2.09513605e-01,  3.24498534e-01,
         -2.10967734e-01,  1.77827328e-01,  4.62407693e-02,
          8.95390585e-02,  2.61822969e-01, -1.33967414e-01],
        [ 1.16423026e-01,  2.43338808e-01, -3.97523433e-01,
          1.74496949e-01, -1.51592448e-01, -3.14414203e-02,
          6.60870194e-01, -2.05755830e-01,  1.44572109e-01],
        [ 8.63989532e-01, -7.52439201e-01,  2.93091945e-02,
          1.93785392e-02, -8.40995312e-01,  3.88718806e-02,
          8.55597928e-02, -4.63025242e-01,  1.09164365e-01]], dtype=float32),
 array([ 0.03532961,  0.31412333, -0.02604722, -0.53610677,  0.5729401 ,
        -0.73191124, -0.42707953,  0.67144656, -0.21999969], dtype=float32),
 array([[-0.6105108 , -0.63935095,  0.10936049,  0.03444195, -0.5585407 ],
        [ 0.90702176,  0.9573946 , -0.24197382, -0.07467716,  0.8905724 ],
        [ 0.8855947 ,  0.87012666, -2.1309876 ,  1.7815742 ,  0.73719364],
        [ 1.8101745 ,  2.586774  , -0.90663815, -0.12923273,  1.9662958 ],
        [ 0.8175405 ,  0.77634495, -1.2074981 ,  0.15267122,  0.7158794 ],
        [ 0.30140522,  0.45049056, -0.02655937,  0.02267911, -0.3572271 ],
        [-0.06106657, -0.05196   , -1.6578624 , -4.204328  ,  0.03646921],
        [-0.3342919 , -0.30655327,  0.12081473, -6.8060055 , -0.33419842],
        [ 2.2868824 ,  2.6371105 , -7.0798144 , -4.142867  ,  2.2907338 ]],
       dtype=float32),
 array([-0.13439032, -0.13694192,  0.26420107,  0.11403304, -0.11692936],
       dtype=float32),
 array([[ 1.3485229,  1.4910762,  1.3069236],
        [ 1.3895507,  1.5922734,  1.3827348],
        [-0.841177 , -1.0051482, -0.8982441],
        [-3.096958 , -3.5789185, -3.2187262],
        [ 1.4139138,  1.7538458,  1.3950503]], dtype=float32),
 array([0.1792256 , 0.26578012, 0.23623686], dtype=float32),
 array([[-2.433399 ],
        [-2.0319712],
        [-2.371156 ]], dtype=float32),
 array([-3.5013545], dtype=float32)]